extends layout

block content
  form(method='POST' action='')
    div.form-group
      label(for='name') Nom:
      input#name.form-control(type='text' name='name' required='true' value=category.name)

    div.form-group
      label(for='id') Id:
      input#id.form-control(type='text' name='id' required='true' value=category._id.valueOf())

    button.btn.btn-primary(type='submit') Valider
